<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>This is the data capture page </h1>

  <form class="" action="#" method="POST">

    <p>Reg Number: </p>
    <p><input type="text" name="RegNum" id="RegNum"></p>

    <p>Student Name: </p>
    <p><input type="text" name="Name" id="Name"></p><br><br>

    <p>Student Surname: </p>
    <p><input type="text" name="Surname" id="Surname"></p>

    <p>Programme: </p>
    <p><input type="text" name="Programme" id="Programme"></p><br><br>

    <p>D.O.B: </p>
    <p><input type="text" name="DOB" id="DOB"></p>

    <p>Address: </p>
    <p><input type="text" name="Address" id="Address"></p><br><br>

    <p>Graduation Year: </p>
    <p><input type="text" name="GraduationYear" id="GraduationYear"></p>


    <p><input type="submit" name="" value="Submit"></p><br><br>

  </form>



  </body>
</html>
